* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	background: url("images/barber.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	margin: auto;
	
}

.container {
	height:100vh;
	width:100%;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 1fr 1fr 1fr;
}

.g-signin2 {
	margin: 0 auto;
}
div {
	align-self:center;
}
