#barber-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: black;
    height: 100vh;
}

a {
    width:90%;
}

.barber-item {
    margin: 7px;
    display: flex;
    width: auto;
    border: solid 1px;
    border-radius: 5px;
    align-items: center;
    background-color: white;
}

.barber-photo {
    margin: 15px;
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}
section {
    margin:0 auto;
    max-width:500px;
    background-color: black;
}

.barber-info {
}

.barber-name {
}

.barber-location {
}

@media (min-width: 600px) {
    .barber-item {
        width: 500px;
    }
}


