* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 62.5%;
    background: url("../images/clippers.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: auto;
}

#barber-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    height: 100vh;
}

.hide {
    display: none;
}

.show {
    display: normal;
}


nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav a {
    color: #f5f5f5;
    font-size: 2rem;
    margin-bottom: 20px;
    transition: color 0.35s ease;
}
nav a:hover {
    color: grey;
}

nav a:nth-of-type(1) {
    margin-left: 10px;
}

nav a:nth-of-type(2) {
    margin-left: 20px;
}

nav a:nth-of-type(3) {
    margin-left: 20px;
}

a {
    background-color: transparent;
    margin:0;
    padding:0;
    text-decoration: none !important;
    color: #f5f5f5;
}

#logo {
    width:20%;
    height:auto;
    color: lightgrey;
    font-size:2.5rem;
    margin-bottom:5px;
    padding-left: 3px;
    padding-top: 3px;
}

.barber-item {
    margin-bottom:7px;
    display: flex;
    width: auto;
    border: solid 1px;
    border-radius: 5px;
    align-items: center;
    transition: background-color 0.35s ease;
    background-color: #F5F5F5;
}

.barber-item:hover {
    background-color: lightgray;
    text-decoration: none;
}

h1, h2 {
    text-decoration: none;

}


.barber-photo {
    margin: 15px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
section {
    margin:0 auto;
    max-width:500px;
}

.barber-info {

}

.barber-name {
    font-size: 3rem;
}

.barber-location {
    font-size: 2rem;
}

@media (min-width: 600px) {
    .barber-item {
        width: 500px;
    }
}

@media (max-width: 600px) {
    #logo {
        width:30%;
        height: auto;
    }

    a {
        width:90%;
    }

    barber-item {
        width:90%;
    }

    nav a {
        font-size: 1.3rem;
    }


    .barber-name {
        font-size: 2rem;
    }

    .barber-location {
        font-size: 1.35rem;
    }
}


