* {
    font-family: 'Montserrat', sans-serif;
}

body {
    /*font-size: 62.5%;*/
    background: url("../images/clippers.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;

}

input {
    border: none;
    font-size: 19px !important;
    width: 29rem;
    cursor: text;
}

body{
    padding: 1rem;
}

body:not(#view-only) input {
    border: 1px solid black; /* Red border only if the input is empty */
}

form {
    display: inline-block;
}

h1 {
    display: inline-block;
}

#profile-pic {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.formInfo {
    border: solid 1px black;
    border-radius: 2px;
    width:75%;
    padding-top: 25px;
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    margin: 15px;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    margin-left:auto;
    margin-right: auto;
    background-color: #F8F8F8;
}

div {
    margin:0;
    padding:0;
}

body {
    display: none;
}

#service-adder {
    margin-top: 20px;
}

body#view-only div#service-adder, body#view-only input#getval{
    display: none;
}

body:not(#view-only) form:not(.active):before {
    display: inline-block;
    line-height: 1.2;
    position: relative;
    left: 29rem;
    font-family: "FontAwesome";
    content: "\f040";
    color: #888;
}

form.active input, body#view-only form input {
    margin-left: 1.6rem;
}

h1 {
    font-size: 20px !important;
    width: 8rem;
}

body:not(#view-only) img {
    cursor: pointer;
}

body:not(#view-only) tbody tr:after {
    content: '\f00d';
    color: #888;
    font-family: "FontAwesome";
    position: relative;
    left: 1rem;
    cursor: pointer;
    margin-right: -2rem;
}

body:not(#view-only) tbody tr:hover::before{
    color: red;
}

body#view-only .empty {
    display: none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*** Table Styles **/

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }
   
  th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  th:first-child {
    border-top-left-radius:3px;
  }
   
  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }

  
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }
  
  td:last-child {
    border-right: 0px;
  }
  
  th.text-left {
    text-align: left;
  }
  
  th.text-center {
    text-align: center;
  }
  
  th.text-right {
    text-align: right;
  }
  
  td.text-left {
    text-align: left;
  }
  
  td.text-center {
    text-align: center;
  }
  
  td.text-right {
    text-align: right;
  }

  @media (max-width: 512px) {
    input {
        width:23rem;
    }

    body:not(#view-only) form:not(.active):before {
        left: 23rem;
    }
}