input {
    border: none;
    font-size: 36px !important;
}

form {
    display: inline-block;
}

h1 {
    display: inline-block;
}

#profile-pic {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}