input {
    border: none;
    font-size: 24px !important;
}

form {
    display: inline-block;
}

h1 {
    display: inline-block;
}

#profile-pic {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.formInfo {
    display: grid;
    grid-template-rows: 1fr .5fr .5fr .5fr .5fr .5fr .5fr;
    align-items: center;
    align-content: center;

}
div {
    margin:0;
    padding:0;
}

body {
    display: none;
}

body#view-only div#service-adder, body#view-only input#getval{
    display: none;
}